.fade-in {
	opacity: 0;
}

.fade-in[class*='-enter']:not([class*='-done']),
.fade-in[class*='-appear']:not([class*='-done']),
.fade-in[class*='-exit-active'],
.fade-in[class*='-exit-done'] {
	opacity: 0;
}

.fade-in[class*='-enter-active'],
.fade-in[class*='-appear-active'],
.fade-in[class*='-enter-done'],
.fade-in[class*='-appear-done'],
.fade-in[class*='-exit']:not([class*='-active']):not([class*='-done']) {
	opacity: 1;
}

[dir] .fade-in[class*='-enter-active'], [dir] .fade-in[class*='-appear-active'], [dir] .fade-in[class*='-exit']:not([class*='-active']):not([class*='-done']) {
	transform: translate(0%);
}

[dir] .fade-in[class*='-enter-active'], [dir] .fade-in[class*='-appear-active'], [dir] .fade-in[class*='-exit-active'] {
	transition-property: opacity, transform;
}

[dir] .fade-in.fade-in--top-enter, [dir] .fade-in.fade-in--top-appear, [dir] .fade-in.fade-in--top-exit-active {
	transform: translateY(-20%);
}

[dir] .fade-in.fade-in--bottom-enter, [dir] .fade-in.fade-in--bottom-appear, [dir] .fade-in.fade-in--bottom-exit-active {
	transform: translateY(100%);
}

[dir=ltr] .fade-in.fade-in--left-enter, [dir=ltr] .fade-in.fade-in--left-appear, [dir=ltr] .fade-in.fade-in--left-exit-active {
	transform: translateX(-100%);
}

[dir=rtl] .fade-in.fade-in--left-enter, [dir=rtl] .fade-in.fade-in--left-appear, [dir=rtl] .fade-in.fade-in--left-exit-active {
	transform: translateX(100%);
}

[dir=ltr] .fade-in.fade-in--right-enter, [dir=ltr] .fade-in.fade-in--right-appear, [dir=ltr] .fade-in.fade-in--right-exit-active {
	transform: translateX(100%);
}

[dir=rtl] .fade-in.fade-in--right-enter, [dir=rtl] .fade-in.fade-in--right-appear, [dir=rtl] .fade-in.fade-in--right-exit-active {
	transform: translateX(-100%);
}

.layout-shop .layout-header-logo {
	display: none;
}

[dir] .layout-shop .layout-footer {
	margin-bottom: var(--grid-spacing-02);
}

[dir] .shop-cart-view .layout-shop__content-navigation {
	margin: 0 0 var(--spacing-05) 0;
}

[dir] .layout-shop--full .layout-content {
	margin: 0 var(--spacing-05);
}

[dir=ltr] .layout-shop--full .layout-content {
	padding-left: 0;
	padding-right: 0;
}

[dir=rtl] .layout-shop--full .layout-content {
	padding-right: 0;
	padding-left: 0;
}

[dir] .layout-shop__content-navigation-without-header {
	margin-bottom: var(--spacing-06);
}

[dir] .layout-shop .layout-content {
	padding-top: var(--spacing-05);
}

[dir] .layout-shop__header {
	margin-bottom: var(--spacing-07);
}

[dir] .layout-shop__header-block {
	margin-bottom: var(--spacing-05);
}

[dir] .layout-shop__header-block:last-child {
	margin-bottom: 0;
}

[dir] .layout-shop .layout-header__mobile-action--back {
	padding-top: 0;
}

.layout-shop__content {
	display: flex;
	flex-direction: column;
}

.layout-shop .layout-shop__content {
	min-height: calc(100vh - var(--layout-header-height) - 96px);
}

[dir] .layout-shop .layout-shop__content {
	margin-bottom: 0;
}

[dir] .layout-shop__content-secondary {
	margin: 0;
	padding: 0 var(--spacing-05);
}

[dir] .layout-shop--full .layout-shop__content-secondary {
	margin: 0 var(--spacing-05);
	padding: 0;
}

/* TODO: Remove when marketing remove their margins */
/* stylelint-disable-next-line selector-max-compound-selectors */
.layout-shop__header-block .mk-spot > * {
	/* stylelint-disable-next-line declaration-no-important */
}
[dir] .layout-shop__header-block .mk-spot > * {
	margin: 0 !important;
}

/* stylelint-disable declaration-no-important */
/* stylelint-disable-next-line selector-max-id */
.shop-area .accessibility-widget-button {
	bottom: 90px !important;
}
[dir=ltr] .shop-area .accessibility-widget-button {
	left: 20px !important;
}
[dir=rtl] .shop-area .accessibility-widget-button {
	right: 20px !important;
}
/* stylelint-enable declaration-no-important */

@media screen and (min-width: 768px) {
	.layout-shop__content {
		flex-direction: row;
	}

	.layout-shop .layout-content {
		max-width: initial;
		width: auto;
	}

	[dir] .layout-shop .layout-content {
		margin-bottom: 0;
	}

	.layout-shop__content-secondary::-webkit-scrollbar {
		width: 1px;
	}

	[dir] .layout-shop__content-secondary::-webkit-scrollbar {
		background-color: transparent;
	}

	.layout-shop__content .layout-shop__content-secondary {
		align-self: flex-start;
		overflow: auto;
	}

	[dir] .layout-shop__content .layout-shop__content-secondary {
		margin: 0;
		margin-top: var(--layout-header-height);
	}

	[dir=ltr] .layout-shop__content .layout-shop__content-secondary {
		padding: 0 var(--spacing-02) 0 0;
	}

	[dir=rtl] .layout-shop__content .layout-shop__content-secondary {
		padding: 0 0 0 var(--spacing-02);
	}

	.layout-shop__content .layout-shop__content-secondary--with-scroll {
		max-height: calc(100vh - var(--layout-header-height) - 100px);
		position: sticky;
		top: var(--layout-header-height);
	}

	.layout-shop__content-secondary:hover {
		scrollbar-color: var(--color-content-high) var(--color-content-low);
	}

	[dir] .layout-shop__content-secondary:hover::-webkit-scrollbar-track {
		background-color: var(--color-content-low);
	}

	[dir] .layout-shop__content-secondary:hover::-webkit-scrollbar-thumb {
		background-color: var(--color-content-high);
	}

	[dir] .layout-shop--full .layout-content {
		margin: var(--layout-header-height) 0;
	}

	[dir=ltr] .layout-shop--full .layout-content {
		padding-left: var(--spacing-05);
		padding-right: 0;
	}

	[dir=rtl] .layout-shop--full .layout-content {
		padding-right: var(--spacing-05);
		padding-left: 0;
	}

	.layout-shop .layout-header-logo {
		display: block;
	}

	.layout-shop .layout-header__main {
		position: relative;
	}

	.layout-shop .layout-header__nav {
		height: 100%;
		position: absolute;
	}

	[dir=ltr] .layout-shop .layout-header__nav {
		left: 50%;
		transform: translateX(-50%);
	}

	[dir=rtl] .layout-shop .layout-header__nav {
		right: 50%;
		transform: translateX(50%);
	}

	[dir] .layout-shop__content-navigation-without-header {
		margin-bottom: var(--spacing-10);
	}

	[dir=ltr] .layout-shop--full .content-header, [dir=ltr] .shop-cart-view .layout-shop__content-navigation, [dir=ltr] .shop-cart-view .layout-shop__header {
		margin-left: calc(((100vw - var(--grid-width)) / 2) - var(--layout-horizontal-padding));
	}

	[dir=rtl] .layout-shop--full .content-header, [dir=rtl] .shop-cart-view .layout-shop__content-navigation, [dir=rtl] .shop-cart-view .layout-shop__header {
		margin-right: calc(((100vw - var(--grid-width)) / 2) - var(--layout-horizontal-padding));
	}

	/* stylelint-disable declaration-no-important, selector-max-id, selector-max-compound-selectors */
	[dir=ltr] .shop-area .accessibility-widget-button {
		left: initial !important;
		right: 8px !important;
	}
	[dir=rtl] .shop-area .accessibility-widget-button {
		right: initial !important;
		left: 8px !important;
	}
}

@media screen and (min-width: 768px) {
	.shop-area .chat .tray,
	.shop-area .chat .chat-panel {
		bottom: 170px !important;
	}

	.shop-area .accessibility-widget-button {
		bottom: 250px !important;
	}
}

@media screen and (min-width: 1024px) {
	.shop-area .chat .tray,
	.shop-area .chat .chat-panel {
		bottom: 130px !important;
	}

	.shop-area .accessibility-widget-button {
		bottom: 200px !important;
	}
}
/* stylelint-enable declaration-no-important, selector-max-id, selector-max-compound-selectors */

