.link {
	color: inherit;
}[dir] .link {
	cursor: pointer;
}

.layout-header-logo {
	position: relative;
}

.layout-header--scrolled .layout-header-logo {
	display: none;
}

.layout-header-logo__icon {
	display: block;
	fill: inherit;
	height: var(--layout-header-logo-height);
	width: var(--layout-header-logo-width);
}

[dir] .layout-header-logo__icon {
	padding-top: 2px;
}

@media screen and (min-width: 768px) {
	[dir=ltr] .layout-header-logo {
		margin-left: calc(((100vw - var(--grid-width)) / 2) - var(--layout-header-horizontal-padding));
	}
	[dir=rtl] .layout-header-logo {
		margin-right: calc(((100vw - var(--grid-width)) / 2) - var(--layout-header-horizontal-padding));
	}

	.layout-header--scrolled .layout-header-logo {
		display: block;
	}

	[dir] .layout-header-logo__icon {
		padding-top: 0;
	}
}

[dir] .layout-header-search-link--is-text {
	margin-bottom: 4px;
}

.layout-header-search-link__link {
	color: inherit;
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

.layout-header-search-link__text {
	font-size: var(--font-size-heading-s);
	line-height: var(--line-height-heading-s);
	letter-spacing: var(--letter-spacing-heading-s);
	text-transform: uppercase;
	font-stretch: var(--font-stretch-normal);
	font-weight: var(--font-weight-light);
}

.layout-header-search-link__line {
	width: 100%;
}

[dir] .layout-header-search-link__line {
	border-bottom: 0.5px solid;
}

.layout-header-search-link__icon {
	height: 20px;
	width: 20px;
}

@media screen and (min-width: 768px) {
	[dir=ltr] .layout-header-search-link {
		margin-right: auto;
	}
	[dir=rtl] .layout-header-search-link {
		margin-left: auto;
	}

	[dir=ltr] .layout-header-search-link__text {
		padding-right: var(--spacing-07);
	}

	[dir=rtl] .layout-header-search-link__text {
		padding-left: var(--spacing-07);
	}
}

:root {
	--layout-header-height: 108px;
	--layout-header-without-logo-height: 48px;
	--layout-header-logo-height: 80px;
	--layout-header-logo-width: 172px; /* Required for IE11 */
	--layout-header-horizontal-padding: var(--spacing-04);
	--layout-header-mobile-action-width: 20px;
	--layout-header-mobile-left-action-width: calc(var(--layout-header-mobile-action-width) + var(--spacing-04));
	--layout-header-margin: calc((100vw - var(--grid-width)) / 2 - var(--layout-header-horizontal-padding));
}

.layout-header {
	display: flex;
	flex-wrap: wrap;
	font-size: var(--font-size-heading-s);
	justify-content: space-between;
	position: sticky;
	top: -100%;
	transition: background-color 0.25s ease-in;
	width: 100%;
	z-index: 10;
	line-height: var(--line-height-heading-s);
	letter-spacing: var(--letter-spacing-heading-s);
	text-transform: uppercase;
	font-stretch: var(--font-stretch-normal);
	font-weight: var(--font-weight-light);
}

[dir] .layout-header {
	background: var(--color-background-base-alt);
	padding: calc(var(--spacing-02) + 6px) var(--layout-header-horizontal-padding);
}

.layout-header--overlaps-content {
	position: fixed;
	top: 0;
}

.layout-header--overlaps-content + .layout-header__frontier {
	position: fixed;
}

[dir] .layout-header--overlaps-content ~ .layout-content {
	margin-top: 0;
	padding-top: 0;
}

[dir] .layout-header--scrolling, [dir] .layout-header--is-transparent, [dir] .layout-header--toggle-transparency-on-hover {
	background-color: transparent;
}

[dir] .layout-header--toggle-transparency-on-hover:hover {
	background: var(--color-background-base-alt);
}

.layout-header--scrolled {
	position: sticky;
	top: 0;
	transition: background-color 0.3s ease-in, 0.3s top;
}

.layout-header--not-mobile-header {
	display: none;
}

.layout-header__main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.layout-header__left {
	align-items: flex-start;
	display: flex;
}

.layout-header__mobile-action {
	height: var(--layout-header-mobile-action-width);
	transition: opacity 0.7s;
}

[dir] .layout-header__mobile-action {
	cursor: pointer;
}

[dir=ltr] .layout-header__mobile-action {
	margin-right: var(--spacing-04);
}

[dir=rtl] .layout-header__mobile-action {
	margin-left: var(--spacing-04);
}

.layout-header__icon {
	height: var(--layout-header-mobile-action-width);
	width: var(--layout-header-mobile-action-width);
}

[dir=ltr] .layout-header__mobile-action--menu {
	margin-right: calc(var(--spacing-04) - 6px);
}

[dir=rtl] .layout-header__mobile-action--menu {
	margin-left: calc(var(--spacing-04) - 6px);
}

.layout-header__mobile-action--hidden {
	display: none;
}

.layout-header--menu-open .layout-header__mobile-action {
	opacity: 0;
}

.layout-header__nav {
	display: none;
}

.layout-header__right {
	height: 100%;
}

.layout-header__accesibility-link {
	clip: rect(0 0 0 0);
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
}

[dir=ltr] .layout-header__accesibility-link {
	right: 0;
}

[dir=rtl] .layout-header__accesibility-link {
	left: 0;
}

.layout-header__accesibility-link:focus {
	clip: auto;
	height: auto;
	overflow: visible;
}

.layout-header__links {
	align-items: flex-end;
	display: flex;
	flex-direction: row;
	gap: var(--spacing-03);
	height: 100%;
	justify-content: space-between;
}

[dir=ltr] .layout-header__links {
	text-align: right;
}

[dir=rtl] .layout-header__links {
	text-align: left;
}

.layout-header--scrolled .layout-header__links {
	align-items: center;
	flex-direction: row;
	justify-content: center;
}

[dir] .layout-header--scrolled .layout-header__links {
	padding-top: 0;
}

.layout-header--scrolled .layout-header-link {
	order: 2;
}

@media screen and (min-width: 768px) {
	:root {
		--layout-header-horizontal-padding: var(--spacing-06);
		--layout-header-height: 104px;
		--layout-header-logo-height: 64px;
		--layout-header-logo-width: auto;
		--layout-header-mobile-action-width: 24px;
	}

	.layout-header {
		position: fixed;
		top: 0;
	}

	[dir] .layout-header {
		padding-bottom: var(--spacing-05);
		padding-top: var(--spacing-05);
	}

	.layout-header--not-mobile-header {
		display: flex;
	}

	[dir] .layout-header--not-mobile-header ~ .layout-content {
		margin-top: var(--layout-header-height);
	}

	[dir=ltr] .layout-header--not-mobile-header ~ .layout-content {
		padding-left: 0;
		padding-right: 0;
	}

	[dir=rtl] .layout-header--not-mobile-header ~ .layout-content {
		padding-right: 0;
		padding-left: 0;
	}

	.layout-header__mobile-action {
		position: absolute;
	}

	[dir] .layout-header--scrolling:not(.layout-header--is-transparent) {
		background-color: var(--color-background-base);
	}

	.layout-header__mobile-action--back,
	.layout-header__mobile-action--close {
		display: none;
	}

	.layout-header__mobile-action--hidden {
		display: block;
	}

	.layout-header__left {
		width: calc(var(--layout-header-margin) + var(--margined-grid-column-width) * 3 + var(--grid-column-gutter) * 2);
	}

	.layout-header__nav {
		align-items: center;
		display: flex;
		width: calc(var(--grid-column-width) * 6 + var(--grid-column-gutter) * 5);
	}

	.layout-header__right {
		height: auto;
		max-width: calc(var(--layout-header-margin) + var(--margined-grid-column-width) * 9 + var(--grid-column-gutter) * 8);
		min-width: calc(var(--layout-header-margin) + var(--margined-grid-column-width) * 3 + var(--grid-column-gutter) * 2);
	}

	[dir] .layout-header__right {
		padding-top: var(--spacing-02);
	}

	.layout-header__links {
		align-items: flex-start;
		flex-direction: row;
		gap: var(--spacing-06);
		justify-content: flex-end;
	}

	[dir] .layout-header__links {
		padding-top: 0;
	}

	[dir=ltr] .layout-header__links {
		margin-left: calc(var(--margined-grid-column-width) / 2);
	}

	[dir=rtl] .layout-header__links {
		margin-right: calc(var(--margined-grid-column-width) / 2);
	}

	.layout-header--scrolled .layout-header__links {
		align-items: flex-start;
		justify-content: flex-end;
	}
}

@media screen and (min-width: 1280px) {
	:root {
		--layout-header-height: 128px;
		--layout-header-logo-height: 88px;
	}
}

@media screen and (min-width: 1600px) {
	:root {
		--layout-header-height: 150px;
		--layout-header-logo-height: 110px;
	}
}

@media screen and (min-width: 1920px) {
	:root {
		--layout-header-height: 176px;
		--layout-header-logo-height: 128px;
	}

	.layout-header {
		font-size: var(--font-size-heading-xs);
		line-height: var(--line-height-heading-xs);
		letter-spacing: var(--letter-spacing-heading-xs);
		text-transform: uppercase;
		font-stretch: var(--font-stretch-normal);
		font-weight: var(--font-weight-light);
	}
}

@media screen and (min-width: 2160px) {
	:root {
		--layout-header-height: 208px;
		--layout-header-logo-height: 160px;
	}
}

.layout-header-link.link {
	color: inherit;
	text-decoration: none;
}

@media screen and (min-width: 768px) {
	.layout-header-link.link {
		white-space: nowrap;
	}
}

.layout-header-shop-cart-link {
	position: relative;
}

.layout-header-shop-cart-link__icon {
	height: 20px;
	width: 20px;
}

.layout-header-shop-cart-link__count {
	font-size: 7px;
	height: 100%;
	letter-spacing: 0;
	line-height: 20px;
	position: absolute;
	top: 1px;
	width: 100%;
}

[dir] .layout-header-shop-cart-link__count {
	text-align: center;
}

[dir=ltr] .layout-header-shop-cart-link__count {
	right: 0;
}

[dir=rtl] .layout-header-shop-cart-link__count {
	left: 0;
}

@media screen and (min-width: 768px) {
	.layout-header-shop-cart-link__icon {
		height: 24px;
		width: 24px;
	}

	.layout-header-shop-cart-link__count {
		font-size: 8px;
		letter-spacing: 0.8px;
		line-height: 24px;
	}
}

.layout-sidebar {
	bottom: 0;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	transition: transform 0.7s;
	z-index: 11;
}[dir] .layout-sidebar {
	text-align: center;
}[dir=ltr] .layout-sidebar {
	left: 0;
	transform: translateX(-100%);
}[dir=rtl] .layout-sidebar {
	right: 0;
	transform: translateX(100%);
}

[dir] .layout-sidebar--open {
	transform: translateX(0);
}

.layout-sidebar,
.layout-sidebar__content {
	height: 100%;
	overflow: hidden;
	width: 100vw;
}

.layout-sidebar__close-button {
	height: 40px;
	position: absolute;
	top: var(--spacing-02);
	width: 40px;
	z-index: 1;
}

[dir] .layout-sidebar__close-button {
	cursor: pointer;
}

[dir=ltr] .layout-sidebar__close-button {
	left: var(--spacing-03);
}

[dir=rtl] .layout-sidebar__close-button {
	right: var(--spacing-03);
}

.layout-sidebar__links {
	align-items: center;
	color: var(--color-main);
	display: flex;
	fill: var(--color-main);
	height: 40px;
	position: absolute;
	top: var(--spacing-02);
	z-index: 1;
}

[dir=ltr] .layout-sidebar__links {
	right: var(--layout-header-horizontal-padding);
}

[dir=rtl] .layout-sidebar__links {
	left: var(--layout-header-horizontal-padding);
}

.layout-sidebar__links-shop-cart {
	order: 1;
}

[dir=ltr] .layout-sidebar__links-shop-cart {
	margin-left: var(--spacing-03);
}

[dir=rtl] .layout-sidebar__links-shop-cart {
	margin-right: var(--spacing-03);
}

.layout-sidebar__close-icon {
	fill: var(--color-main);
}

.layout-sidebar__content {
	color: var(--color-main);
}

[dir] .layout-sidebar__content {
	background-color: var(--color-main-000);
	padding: 0;
}

.layout-sidebar__content::-webkit-scrollbar {
	height: 0;
	width: 0;
}

.layout-sidebar__content-wrapper {
	flex-shrink: 0;
	height: 100%;
}

.layout-sidebar__overlay {
	display: none;
}

@media screen and (min-width: 768px) {
	.layout-sidebar--open .layout-sidebar__overlay {
		display: block;
		width: 100%;
	}

	.layout-sidebar__content {
		box-sizing: border-box;
		min-width: 459px;
		-ms-overflow-style: none;
		overflow-y: scroll;
		scrollbar-width: none;
		width: auto;
	}

	[dir] .layout-sidebar__content {
		padding: var(--spacing-03) 0 var(--spacing-07);
	}

	.layout-sidebar {
		box-sizing: border-box;
		display: flex;
		flex-shrink: 0;
		opacity: 0;
		transition: opacity 0.7s, transform 0s 0.7s;
		width: 100%;
	}

	[dir=ltr] .layout-sidebar {
		text-align: left;
		transform: translateX(-100%);
	}

	[dir=rtl] .layout-sidebar {
		text-align: right;
		transform: translateX(100%);
	}

	.layout-sidebar__close-button {
		top: var(--spacing-03);
	}

	[dir=ltr] .layout-sidebar__close-button {
		left: var(--spacing-04);
	}

	[dir=rtl] .layout-sidebar__close-button {
		right: var(--spacing-04);
	}

	.layout-sidebar__close-icon {
		height: 24px;
		width: 24px;
	}

	.layout-sidebar--visible,
	.layout-sidebar--open {
		opacity: 1;
		transition: opacity 0.7s;
	}

	[dir] .layout-sidebar--visible, [dir] .layout-sidebar--open {
		transform: translateX(0);
	}
}

@media screen and (min-width: 2160px) {
	.layout-sidebar__content {
		min-width: 627px;
	}
}

.content-header {
	display: flex;
	gap: var(--spacing-05);
	justify-content: space-between;
}

.content-header--actions-only {
	flex-direction: row-reverse;
}

[dir] .content-header--with-title {
	margin-bottom: var(--spacing-05);
}

[dir] .content-header--with-description {
	margin-bottom: var(--spacing-06);
}

.content-header__info {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-02);
	justify-content: center;
	width: 100%;
}

.content-header__title {
	font-size: var(--font-size-heading-m-highlight);
	line-height: var(--line-height-heading-m-highlight);
	letter-spacing: var(--letter-spacing-heading-m-highlight);
	text-transform: uppercase;
	font-stretch: var(--font-stretch-normal);
	font-weight: var(--font-weight-medium);
}

.content-header__description {
	font-size: var(--font-size-paragraph-m);
	line-height: var(--line-height-paragraph-m);
	letter-spacing: var(--letter-spacing-paragraph-m);
	text-transform: none;
	font-stretch: var(--font-stretch-normal);
	font-weight: var(--font-weight-light);
}

.content-header__actions {
	align-self: flex-end;
	display: flex;
	flex-direction: row;
	gap: var(--spacing-03);
	position: static;
}

[dir] .content-header__actions {
	border: none;
	margin: 0;
	padding: 0;
}

.content-header__action-btn {
	min-width: 140px;
	width: unset;
}

@media screen and (min-width: 1280px) {
	.content-header__action-btn {
		min-width: 200px;
	}
}

:root {
	--layout-content-vertical-padding: var(--spacing-05);
}

.layout-content {
	display: flex;
	max-width: var(--grid-width);
	position: relative;
	width: 100%;
}

[dir] .layout-content {
	padding: var(--layout-content-vertical-padding) var(--spacing-05) 0;
}

.layout-content__main {
	width: 100%;
}

@media screen and (min-width: 768px) {
	[dir] .layout-content {
		margin: var(--layout-header-height) calc(((100vw - var(--grid-width)) / 2)) 0;
	}
}

@media screen and (min-width: 768px) {
	[dir=ltr] .layout-content {
		padding-left: 0;
		padding-right: 0;
	}
	[dir=rtl] .layout-content {
		padding-right: 0;
		padding-left: 0;
	}
}

@media screen and (min-width: 1920px) {
	:root {
		--layout-content-vertical-padding: var(--spacing-06);
	}
}

.layout-footer {
	width: 100%;
}

.layout-footer__container {
	max-width: var(--grid-width);
	width: 100%;
}

[dir] .layout-footer__container {
	margin: auto;
}

[dir=ltr] .layout-footer__container {
	padding-left: var(--spacing-05);
	padding-right: var(--spacing-05);
}

[dir=rtl] .layout-footer__container {
	padding-right: var(--spacing-05);
	padding-left: var(--spacing-05);
}

@media screen and (min-width: 768px) {
	[dir=ltr] .layout-footer__container {
		padding-left: 0;
		padding-right: 0;
	}
	[dir=rtl] .layout-footer__container {
		padding-right: 0;
		padding-left: 0;
	}
}

:root {
	--layout-horizontal-padding: 20px;
}

.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

@media screen and (min-width: 768px) {
	.layout--grid-type-full .layout-content {
		max-width: 100%;
	}
	[dir] .layout--grid-type-full .layout-content {
		margin: var(--layout-header-height) 0;
		padding: 0 var(--layout-horizontal-padding);
	}
}

