.address-display-name {
	font-size: var(--font-size-heading-s);
	line-height: var(--line-height-heading-s);
	letter-spacing: var(--letter-spacing-heading-s);
	text-transform: uppercase;
	font-stretch: var(--font-stretch-normal);
	font-weight: var(--font-weight-light);
}

[dir] .address-display-name__content-skin-title {
	margin-bottom: var(--spacing-01);
}

.form-builder__radio-group {
	display: flex;
	position: relative;
	width: 100%;
}[dir] .form-builder__radio-group {
	margin-bottom: var(--spacing-02);
}

[dir] .form-builder__radio-group--has-label {
	padding-top: var(--form-input-label-padding-top);
}

[dir] .form-builder__radio-group--has-label .form-input-label__label {
	transform: var(--form-input-label-transform);
}

.form-builder__radio-group .form-input {
	width: auto;
}

[dir=ltr] .form-builder__radio-group .form-input {
	margin-right: var(--spacing-07);
}

[dir=rtl] .form-builder__radio-group .form-input {
	margin-left: var(--spacing-07);
}

.address-display__container--skin-default.address-display__container {
	font-size: var(--font-size-paragraph-m);
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: var(--line-height-paragraph-m);
	letter-spacing: var(--letter-spacing-paragraph-m);
	text-transform: none;
	font-stretch: var(--font-stretch-normal);
	font-weight: var(--font-weight-light);
}

.address-display__container--skin-default .address-display__company-info {
	font-size: var(--font-size-heading-s);
	line-height: var(--line-height-heading-s);
	letter-spacing: var(--letter-spacing-heading-s);
	text-transform: uppercase;
	font-stretch: var(--font-stretch-normal);
	font-weight: var(--font-weight-light);
}

.address-display__container--skin-default .address-display__physical-store {
	color: var(--color-content-high);
}

[dir] .address-display__container--skin-default .address-display__physical-store {
	margin-bottom: var(--spacing-02);
}

[dir] .address-evaluation-address-list-item {
	border-bottom: 1px solid var(--color-main-010);
	padding: var(--spacing-05) 0;
}

.address-evaluation-address-list-item .form-input-radio__icon {
	align-self: flex-start;
}

.address-evaluation-address-list-item__content {
	font-size: var(--font-body-l);
}

[dir] .address-evaluation-address-list-item__content-title {
	margin-bottom: var(--spacing-02);
}

[dir] .address-evaluation-address-list-item__actions {
	margin-top: var(--spacing-03);
}

.address-evaluation-address-list-item__edit {
	text-decoration: underline;
}

.form-input-zipcode-lookup__button {
	font-size: var(--font-size-body-s);
	line-height: var(--line-height-body-s);
	letter-spacing: var(--letter-spacing-body-s);
	text-transform: uppercase;
	font-stretch: var(--font-stretch-normal);
	font-weight: var(--font-weight-light);
}[dir=ltr] .form-input-zipcode-lookup__button {
	margin: 0 0 0 8px;
}[dir=rtl] .form-input-zipcode-lookup__button {
	margin: 0 8px 0 0;
}

@media screen and (min-width: 768px) {
	[dir=ltr] .form-input-zipcode-lookup__button {
		margin: 8px 0 0 8px;
	}
	[dir=rtl] .form-input-zipcode-lookup__button {
		margin: 8px 8px 0 0;
	}
}

[dir] .address-form {
	margin-top: var(--spacing-07);
}

.address-form .form__column[data-name='newsletterCheck'],
.address-form .form__column[data-name='privacyCheck'],
.address-form .form__column[data-name='checkAll'],
.address-form .form__column[data-name='ageCheck'],
.address-form .form__column[data-name='privatePolicy'],
.address-form .form__column[data-name='advertisingInformation'],
.address-form .form__column[data-name='smsConsent'],
.address-form .form__column[data-name='transferData'],
.address-form .form__column[data-name='sensitiveData'] {
	min-height: 0;
	width: 100%;
}

[dir] .address-form .form__column[data-name='newsletterCheck'], [dir] .address-form .form__column[data-name='privacyCheck'], [dir] .address-form .form__column[data-name='checkAll'], [dir] .address-form .form__column[data-name='ageCheck'], [dir] .address-form .form__column[data-name='privatePolicy'], [dir] .address-form .form__column[data-name='advertisingInformation'], [dir] .address-form .form__column[data-name='smsConsent'], [dir] .address-form .form__column[data-name='transferData'], [dir] .address-form .form__column[data-name='sensitiveData'] {
	margin-bottom: var(--spacing-02);
	margin-top: var(--spacing-02);
}

/* stylelint-disable selector-max-compound-selectors */
.address-form .form__column[data-name='autocompletePhone'] .form-input-autocomplete__menu {
	width: auto;
}
/* stylelint-enable selector-max-compound-selectors */

.address-form .form-builder__advise {
	min-height: 0;
	width: 100%;
}

@media screen and (min-width: 768px) {
	/* label should not pass first column form-input */
	/* stylelint-disable selector-max-compound-selectors, selector-max-type */
	.address-form .form__column[data-name='newsletterCheck'] .form-input,
	.address-form .form__column[data-name='privacyCheck'] .form-input,
	.address-form .form__column[data-name='checkAll'] .form-input,
	.address-form .form__column[data-name='ageCheck'] .form-input,
	.address-form .form__column[data-name='privatePolicy'] .form-input,
	.address-form .form__column[data-name='advertisingInformation'] .form-input,
	.address-form .form__column[data-name='smsConsent'] .form-input,
	.address-form .form__column[data-name='transferData'] .form-input,
	.address-form .form__column[data-name='sensitiveData'] .form-input {
		/* spacing-08 = form__column padding-right */
		max-width: calc(var(--grid-width) / 2 - var(--spacing-08) - var(--grid-lateral-margin));
	}
}

@media screen and (min-width: 1024px) {
	/* label should not pass first column form-input */
	.address-form .form__column[data-name='newsletterCheck'] .form-input,
	.address-form .form__column[data-name='privacyCheck'] .form-input,
	.address-form .form__column[data-name='checkAll'] .form-input,
	.address-form .form__column[data-name='ageCheck'] .form-input,
	.address-form .form__column[data-name='privatePolicy'] .form-input,
	.address-form .form__column[data-name='advertisingInformation'] .form-input,
	.address-form .form__column[data-name='smsConsent'] .form-input,
	.address-form .form__column[data-name='transferData'] .form-input,
	.address-form .form__column[data-name='sensitiveData'] .form-input {
		/* 860px = form max-width // 80px = form__column padding-right */
		max-width: calc(860px / 2 - 80px);
	}
}

