html {
  font-size: 62.5%;
}

.article_contents div, .article_contents dl, .article_contents dt, .article_contents dd, .article_contents ul, .article_contents ol, .article_contents li, .article_contents h1, .article_contents h2, .article_contents h3, .article_contents h4, .article_contents h5, .article_contents h6, .article_contents pre, .article_contents code, .article_contents form, .article_contents fieldset, .article_contents legend, .article_contents input, .article_contents button, .article_contents textarea, .article_contents p, .article_contents blockquote, .article_contents th, .article_contents td, .article--static_header div, .article--static_header dl, .article--static_header dt, .article--static_header dd, .article--static_header ul, .article--static_header ol, .article--static_header li, .article--static_header h1, .article--static_header h2, .article--static_header h3, .article--static_header h4, .article--static_header h5, .article--static_header h6, .article--static_header pre, .article--static_header code, .article--static_header form, .article--static_header fieldset, .article--static_header legend, .article--static_header input, .article--static_header button, .article--static_header textarea, .article--static_header p, .article--static_header blockquote, .article--static_header th, .article--static_header td, .article--static_footer div, .article--static_footer dl, .article--static_footer dt, .article--static_footer dd, .article--static_footer ul, .article--static_footer ol, .article--static_footer li, .article--static_footer h1, .article--static_footer h2, .article--static_footer h3, .article--static_footer h4, .article--static_footer h5, .article--static_footer h6, .article--static_footer pre, .article--static_footer code, .article--static_footer form, .article--static_footer fieldset, .article--static_footer legend, .article--static_footer input, .article--static_footer button, .article--static_footer textarea, .article--static_footer p, .article--static_footer blockquote, .article--static_footer th, .article--static_footer td {
  margin: 0;
  padding: 0;
}

.article_contents table, .article--static_header table, .article--static_footer table {
  border-spacing: 0;
  border-collapse: collapse;
}

.article_contents fieldset, .article_contents img, .article--static_header fieldset, .article--static_header img, .article--static_footer fieldset, .article--static_footer img {
  border: 0;
}

.article_contents address, .article_contents caption, .article_contents cite, .article_contents code, .article_contents dfn, .article_contents em, .article_contents strong, .article_contents th, .article_contents var, .article_contents optgroup, .article--static_header address, .article--static_header caption, .article--static_header cite, .article--static_header code, .article--static_header dfn, .article--static_header em, .article--static_header strong, .article--static_header th, .article--static_header var, .article--static_header optgroup, .article--static_footer address, .article--static_footer caption, .article--static_footer cite, .article--static_footer code, .article--static_footer dfn, .article--static_footer em, .article--static_footer strong, .article--static_footer th, .article--static_footer var, .article--static_footer optgroup {
  font-weight: inherit;
  font-style: inherit;
}

.article_contents del, .article_contents ins, .article--static_header del, .article--static_header ins, .article--static_footer del, .article--static_footer ins {
  text-decoration: none;
}

.article_contents li, .article--static_header li, .article--static_footer li {
  list-style: none;
}

.article_contents caption, .article_contents th, .article--static_header caption, .article--static_header th, .article--static_footer caption, .article--static_footer th {
  text-align: left;
}

.article_contents h1, .article_contents h2, .article_contents h3, .article_contents h4, .article_contents h5, .article_contents h6, .article--static_header h1, .article--static_header h2, .article--static_header h3, .article--static_header h4, .article--static_header h5, .article--static_header h6, .article--static_footer h1, .article--static_footer h2, .article--static_footer h3, .article--static_footer h4, .article--static_footer h5, .article--static_footer h6 {
  font-size: 100%;
  font-weight: normal;
}

.article_contents q:before, .article_contents q:after, .article--static_header q:before, .article--static_header q:after, .article--static_footer q:before, .article--static_footer q:after {
  content: '';
}

.article_contents abbr, .article_contents acronym, .article--static_header abbr, .article--static_header acronym, .article--static_footer abbr, .article--static_footer acronym {
  border: 0;
  font-variant: normal;
}

.article_contents sup, .article--static_header sup, .article--static_footer sup {
  vertical-align: baseline;
}

.article_contents sub, .article--static_header sub, .article--static_footer sub {
  vertical-align: baseline;
}

.article_contents legend, .article--static_header legend, .article--static_footer legend {
  color: #000;
}

.article_contents input, .article_contents button, .article_contents textarea, .article_contents select, .article_contents optgroup, .article_contents option, .article--static_header input, .article--static_header button, .article--static_header textarea, .article--static_header select, .article--static_header optgroup, .article--static_header option, .article--static_footer input, .article--static_footer button, .article--static_footer textarea, .article--static_footer select, .article--static_footer optgroup, .article--static_footer option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
}

.article_contents input, .article_contents button, .article_contents textarea, .article_contents select, .article--static_header input, .article--static_header button, .article--static_header textarea, .article--static_header select, .article--static_footer input, .article--static_footer button, .article--static_footer textarea, .article--static_footer select {
  *font-size: 100%;
}

.article_contents article, .article_contents aside, .article_contents canvas, .article_contents details, .article_contents figcaption, .article_contents figure, .article_contents footer, .article_contents header, .article_contents hgroup, .article_contents menu, .article_contents nav, .article_contents section, .article_contents summary, .article_contents time, .article_contents mark, .article_contents audio, .article_contents video, .article--static_header article, .article--static_header aside, .article--static_header canvas, .article--static_header details, .article--static_header figcaption, .article--static_header figure, .article--static_header footer, .article--static_header header, .article--static_header hgroup, .article--static_header menu, .article--static_header nav, .article--static_header section, .article--static_header summary, .article--static_header time, .article--static_header mark, .article--static_header audio, .article--static_header video, .article--static_footer article, .article--static_footer aside, .article--static_footer canvas, .article--static_footer details, .article--static_footer figcaption, .article--static_footer figure, .article--static_footer footer, .article--static_footer header, .article--static_footer hgroup, .article--static_footer menu, .article--static_footer nav, .article--static_footer section, .article--static_footer summary, .article--static_footer time, .article--static_footer mark, .article--static_footer audio, .article--static_footer video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.article_contents article, .article_contents aside, .article_contents details, .article_contents figcaption, .article_contents figure, .article_contents footer, .article_contents header, .article_contents hgroup, .article_contents menu, .article_contents nav, .article_contents section, .article--static_header article, .article--static_header aside, .article--static_header details, .article--static_header figcaption, .article--static_header figure, .article--static_header footer, .article--static_header header, .article--static_header hgroup, .article--static_header menu, .article--static_header nav, .article--static_header section, .article--static_footer article, .article--static_footer aside, .article--static_footer details, .article--static_footer figcaption, .article--static_footer figure, .article--static_footer footer, .article--static_footer header, .article--static_footer hgroup, .article--static_footer menu, .article--static_footer nav, .article--static_footer section {
  display: block;
}

.article_contents h1, .article_contents h2, .article_contents h3, .article_contents h4, .article_contents h5, .article_contents p, .article_contents ul, .article--static_header h1, .article--static_header h2, .article--static_header h3, .article--static_header h4, .article--static_header h5, .article--static_header p, .article--static_header ul, .article--static_footer h1, .article--static_footer h2, .article--static_footer h3, .article--static_footer h4, .article--static_footer h5, .article--static_footer p, .article--static_footer ul {
  margin: 0;
  padding: 0;
}

.article_contents li, .article--static_header li, .article--static_footer li {
  list-style-type: none;
}

.article_contents *, .article_contents *:before, .article_contents *:after, .article--static_header *, .article--static_header *:before, .article--static_header *:after, .article--static_footer *, .article--static_footer *:before, .article--static_footer *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.article_contents img, .article--static_header img, .article--static_footer img {
  vertical-align: bottom;

  -webkit-tap-highlight-color: transparent;
}

.article_contents select::-ms-expand, .article--static_header select::-ms-expand, .article--static_footer select::-ms-expand {
  display: none;
}

.article_contents a, .article--static_header a, .article--static_footer a {
  border-bottom: none;
  text-decoration: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.article_contents a:hover, .article--static_header a:hover, .article--static_footer a:hover {
  outline-width: thick;
}
/*# sourceMappingURL=maps/normalize.css.map */